.seats-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.seat {
    flex-basis: 2%;
    margin: 1px;
    height: 25px;
    cursor: pointer;
}

.normal-seat {
    background-color: #1E7CFF
}

.premium-seat {
    background-color: #FF921E;
}

.selected {
    background-color: #00FC58;
}